@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main 
{
  @apply text-gray-800;
}

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  src: url('/sansation-family/sansation.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src: url('/sansation-family/sansation.bold.ttf') format('truetype');
}


body {
  color: rgb(var(--foreground-rgb));
  background: white;

  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

section {
  @apply max-w-7xl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-secondary;
}


.hero-background {
  background: #123456;
  background-size: cover;
  background-position: center;

  width: 100%;
  position: relative;
}

.hero-line1 {
  font-family: Sansation;
  font-size: 100px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -0.02em;
  text-align: left;
  @apply max-md:text-4xl;
}

.hero-line2 {
  font-family: Sansation;
  font-size: 80px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
  @apply max-md:text-3xl;
}

.hero-background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  /* Adjust the opacity as needed */
}

.container {
  z-index: 1;
}

@media (min-width: 321px) {
  .visible-above-320 {
    display: block;
  }
}

a {
  @apply hover:opacity-80
}