@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

section {
  @apply max-w-7xl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply text-blue-950;
}


.hero-background {
  background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/fe621aa40644eb11ac8f3827135e145a3acde57a4011c3a020f8d31945767448?apiKey=a077d5b1349f48f38f4ae0cc0f777298");
  background-size: cover;
  background-position: center;

  width: 100%;
  position: relative;
}

.hero-background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
}

.container {
  z-index: 1;
}
